.poll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  min-width: 18rem;
  min-height: 14.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.hidden {
  display: none;
}

.greetings-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mb {
  margin-bottom: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
